.range-container {
    --range-container-height: 7px;
    --range-height: 3px;
    --hover-range-height: var(--range-height);
    --thumb-height: 200%;
    --range-bg-color: rgba(100, 100, 100, .5);
    --thumb-color: red;
    --preview-color: rgb(150, 150, 150);
    --progress-color: red;
    height: var(--range-container-height);
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.range-container.expandOnHover{
    --hover-range-height: 100%;
}
.range-container:hover .range {
    height: var(--hover-range-height);
}
.range-container:hover .range .preview {
    display: block;
}
.range-container:hover .thumb-indicator {
    display: block !important;
}
.range-container .range {
    background-color: var(--range-bg-color);
    height: var(--range-height);
    width: 100%;
    position: relative;
}
.range-container .range .preview {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: var(--preview-color);
    display: none;
}
.range-container .range .progress {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: var(--progress-color);
}
.range-container .range .thumb-indicator{
    display: none;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    height: var(--thumb-height);
    top: 50%;
    left: calc(var(--progress-position) * 100%);
    background-color: var(--thumb-color);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
    z-index: 1080;
}